#include <windows.h>
#include "resource.h"

IDD_ALERTLOGDLG DIALOGEX   22, 17, 300, 200
STYLE WS_CHILD | WS_VISIBLE | WS_BORDER | DS_SHELLFONT
CAPTION "Alert Log"
FONT 8, "Verdana"
BEGIN
	LTEXT	"",IDC_LBLALARMALERT,5,5,70,8,SS_LEFT
	LTEXT	"",IDC_TXTALARMALERT,80,5,200,8,SS_LEFT
    LTEXT	"Alert Code", IDC_STATIC, 5, 20, 50, 8, SS_LEFT
    LTEXT	"Cycle", IDC_STATIC, 50, 20, 50, 8, SS_LEFT
    LTEXT	"Description", IDC_STATIC, 100, 20, 38, 8, SS_LEFT
    LISTBOX	IDC_ALERTLIST, 5, 30, 295, 150, WS_TABSTOP | WS_VSCROLL | LBS_DISABLENOSCROLL | LBS_NOINTEGRALHEIGHT | LBS_NOTIFY
	LTEXT	"",IDC_UPDCOUNT,150,180,20,10
END
