#include <windows.h>
#include "resource.h"

IDD_BCCONFIGDLG DIALOGEX   22, 17, 300, 200
STYLE WS_CHILD | WS_VISIBLE | WS_BORDER | DS_SHELLFONT
CAPTION "Brnr Ctrl Config"
FONT 8, "Verdana"
BEGIN
    RTEXT           "",IDC_LBLBCIGNITIONSRC,		5,		10,		75,		8
	LTEXT			"",IDC_TXTBCIGNITIONSRC,		85,		10,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLBCBLRHSIFUNC,			5,		20,		75,		8
	LTEXT			"",IDC_TXTBCBLRHSIFUNC,			85,		20,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLBCIGNITERONDUR,		5,		30,		75,		8
	LTEXT			"",IDC_TXTBCIGNITERONDUR,		85,		30,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLBCPILOTTYPE,			5,		40,		75,		8
	LTEXT			"",IDC_TXTBCPILOTTYPE,			85,		40,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLBCFLAMESENSTYPE,		5,		50,		75,		8
	LTEXT			"",IDC_TXTBCFLAMESENSTYPE,		85,		50,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLBCPURGERATEPRV,		5,		60,		75,		8
	LTEXT			"",IDC_TXTBCPURGERATEPRV,		85,		60,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLBCLIGHTOFFRATEPRV,	5,		70,		75,		8
	LTEXT			"",IDC_TXTBCLIGHTOFFRATEPRV,	85,		70,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLBCPREPURGETIME,		5,		80,		75,		8
	LTEXT			"",IDC_TXTBCPREPURGETIME,		85,		80,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLBCPREIGNITIONTIME,	5,		90,		75,		8
	LTEXT			"",IDC_TXTBCPREIGNITIONTIME,	85,		90,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLBCPFEP,				5,		100,	75,		8
	LTEXT			","IDC_TXTBCPFEP,				85,		100,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLBCMFEP,				5,		110,	75,		8
	LTEXT			"",IDC_TXTBCMFEP,				85,		110,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLBCRUNSTABTIME,		5,		120,	75,		8
	LTEXT			"",IDC_TXTBCRUNSTABTIME,		85,		120,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLBCPOSTPURGETIME,		5,		130,	75,		8
	LTEXT			"",IDC_TXTBCPOSTPURGETIME,		85,		130,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLBCILKSTRTCHKENBL,		5,		140,	75,		8
	LTEXT			"",IDC_TXTBCILKSTRTCHKENBL,		85,		140,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLBCILKOPENRESP,		5,		150,	75,		8
	LTEXT			"",IDC_TXTBCILKOPENRESP,		85,		150,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLBCIGNITEFAILRESP,		5,		160,	75,		8
	LTEXT			"",IDC_TXTBCIGNITEFAILRESP,		85,		160,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLBCIGNITEFAILRETRIES,	5,		170,	75,		8
	LTEXT			"",IDC_TXTBCIGNITEFAILRETRIES,	85,		170,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLBCIGNITEFAILDLY,		5,		180,	75,		8
	LTEXT			"",IDC_TXTBCIGNITEFAILDLY,		85,		180,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLBCMFEPFLMFAILRESP,	5,		190,	75,		8
	LTEXT			"",IDC_TXTBCMFEPFLMFAILRESP,	85,		190,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLBCRUNFLMFAILRESP,		150,	10,		75,		8
	LTEXT			"",IDC_TXTBCRUNFLMFAILRESP,		230,	10,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLBCPILOTTESTHOLD,		150,	20,		75,		8
	LTEXT			"",IDC_TXTBCPILOTTESTHOLD,		230,	20,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLBCIASENABLE,			150,	30,		75,		8
	LTEXT			"",IDC_TXTBCIASENABLE,			230,	30,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLBCIASSTRTCHKENBL,		150,	40,		75,		8
	LTEXT			"",IDC_TXTBCIASSTRTCHKENBL,		230,	40,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLBCLCIENABLE,			150,	50,		75,		8
	LTEXT			"",IDC_TXTBCLCIENABLE,			230,	50,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLBCPIIENABLE,			150,	60,		75,		8
	LTEXT			"",IDC_TXTBCPIIENABLE,			230,	60,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLBCFLMTHRESHHOLD,		150,	70,		75,		8
	LTEXT			"",IDC_TXTBCFLMTHRESHHOLD,		230,	70,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLBCILKBOUNCEDET,		150,	80,		75,		8
	LTEXT			"",IDC_TXTBCILKBOUNCEDET,		230,	80,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLBCFORCEDRECYCINT,		150,	90,		75,		8
	LTEXT			"",IDC_TXTBCFORCEDRECYCINT,		230,	90,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLBCFANSPDERRRESP,		150,	100,	75,		8
	LTEXT			"",IDC_TXTBCFANSPDERRRESP,		230,	100,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN

    RTEXT           "",IDC_LBLIASOPENMODENABLE,		150,	110,	75,		8
	LTEXT			"",IDC_TXTIASOPENMODENABLE,		230,	110,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLIASOPENRATEDIFF,		150,	120,	75,		8
	LTEXT			"",IDC_TXTIASOPENRATEDIFF,		230,	120,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLIASOPENMODSTEPRATE,	150,	130,	75,		8
	LTEXT			"",IDC_TXTIASOPENMODSTEPRATE,	230,	130,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLIASOPENMODSTEPTIME,	150,	140,	75,		8
	LTEXT			"",IDC_TXTIASOPENMODSTEPTIME,	230,	140,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLIASCLOSEDRESPONSE,	150,	150,	75,		8
	LTEXT			"",IDC_TXTIASCLOSEDRESPONSE,	230,	150,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN

END
/*
IDD_BCCONFIGUINUMERIC DIALOG   22, 17, 230, 75
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "BC Config"
FONT 8, "Verdana"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,100,50,30,11,WS_GROUP
    DEFPUSHBUTTON   "Cancel",IDCANCEL,175,50,30,11,WS_GROUP
    EDITTEXT        IDC_BCCONFIGUINUMEDIT, 100, 20, 100, 12, WS_CHILD | ES_NUMBER
END

IDD_BCCONFIGUIMULTI DIALOG   22, 17, 230, 100
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "BC Config"
FONT 8, "Verdana"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,20,85,30,11,WS_GROUP
    DEFPUSHBUTTON   "Cancel",IDCANCEL,150,85,30,11,WS_GROUP
    COMBOBOX        IDC_BCCONFIGUIMULTICOMBO, 20, 10, 100, 75, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
END

IDD_BCCONFIGUITIME DIALOG   22, 17, 230, 75
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "BC Config"
FONT 8, "Verdana"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,100,50,30,11,WS_GROUP
    DEFPUSHBUTTON   "Cancel",IDCANCEL,175,50,30,11,WS_GROUP
	LTEXT			"Hours",IDC_STATIC,32,12,30,12
	EDITTEXT		IDC_BCHOUREDIT, 32, 25, 30, 12, ES_NUMBER
	LTEXT			"Minutes",IDC_STATIC,82,12,30,12
	EDITTEXT		IDC_BCMINEDIT, 82, 25, 30, 12, ES_NUMBER
	LTEXT			"Seconds",IDC_STATIC,142,12,30,12
	EDITTEXT		IDC_BCSECEDIT, 142, 25, 30, 12, ES_NUMBER
END
*/