#include <windows.h>
#include "resource.h"

IDD_CHCONFIGDLG DIALOGEX   22, 17, 300, 200
STYLE WS_CHILD | WS_VISIBLE | WS_BORDER | DS_SHELLFONT
CAPTION "CH Config"
FONT 8, "Verdana"
BEGIN
    RTEXT           "",IDC_LBLCHENABLE,				5,		10,		70,	8
	LTEXT			"",IDC_TXTCHENABLE,				80,	8,		70,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLCHDEMANDSOURCE,		5,		22,		70,	8
	LTEXT			"",IDC_TXTCHDEMANDSOURCE		80,	20,		70,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLCHSENSOR,				5,		34,		70,	8
	LTEXT			"",IDC_TXTCHSENSOR				80,	32,		70,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLCHSETPOINT,			5,		46,		70,	8
	LTEXT			"",IDC_TXTCHSETPOINT,			80,	44,		70,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLCHTODSETPOINT,		5,		58,		70,	8
	LTEXT			"",IDC_TXTCHTODSETPOINT,		80,	56,		70,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLCHONHYSTERESIS,		5,		70,		70,	8
	LTEXT			"",IDC_TXTCHONHYSTERESIS,		80,	68,		70,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLCHOFFHYSTERESIS,		5,		82,		70,	8
	LTEXT			"",IDC_TXTCHOFFHYSTERESIS,		80,	80,		70,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLCHODRESETENABLE,		5,		94,		70,	8
	LTEXT			"",IDC_TXTCHODRESET,			80,	92,		70,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLCHPGAIN,				5,		106,	70,	8
	LTEXT			"",IDC_TXTCHPGAIN,				80,	104,	70,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLCHIGAIN,				5,		118,	70,	8
	LTEXT			","IDC_TXTCHIGAIN,				80,	116,	70,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLCHDGAIN,				5,		130,	70,	8
	LTEXT			"",IDC_TXTCHDGAIN,				80,	128,	70,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLCHHYSTSTEPTIME,		5,		142,	70,	8
	LTEXT			"",IDC_TXTCHHYSTSTEPTIME,		80,	140,	70,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLANALOGINPUTHYST,		5,		154,	70,	8
	LTEXT			"",IDC_TXTANALOGINPUTHYST,		80,	152,	70,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLWWSDENABLE,			5,		166,	70,	8
	LTEXT			"",IDC_TXTWWSDENABLE,			80,	164,	70,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLWWSDSETPOINT,			5,		178,	70,	8
	LTEXT			"",IDC_TXTWWSDSETPOINT,			80,	176,	70,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLCHFROSTPROTENABLE,	5,		190,	70,	8
	LTEXT			"",IDC_TXTCHFROSTPROTENABLE,	80,	188,	70,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLCHFROSTPROTSETPT,		155, 10, 70, 8
	LTEXT			"",IDC_TXTCHFROSTPROTSETPT,		230, 8, 70, 12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	LTEXT			"Extended CH config",IDC_STATIC,	155, 24, 70, 8
	RTEXT			"",IDC_LBLCHMODBUSSTAT,			155, 36, 70, 8
	LTEXT			"",IDC_TXTCHMODBUSSTAT,			230, 34, 70, 12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLCHSTPTSRC,			155, 48, 70, 8
	LTEXT			"",IDC_TXTCHSTPTSRC,			230, 46, 70, 12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLCHMODBUSSTPT,			155, 60, 70, 8
	LTEXT			"",IDC_TXTCHMODBUSSTPT,			230, 58, 70, 12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLCHMODRATESRC,			155, 72, 70, 8
	LTEXT			"",IDC_TXTCHMODRATESRC,			230, 70, 70, 12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLCHMODBUSRATE,			155, 84, 70, 8
	LTEXT			"",IDC_TXTCHMODBUSRATE,			230, 82, 70, 12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLCHPTYVSLL,			155, 96, 70, 8
	LTEXT			"",IDC_TXTCHPTYVSLL,			230, 94, 70, 12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBL4MATEMP,				155, 108, 70, 8
	LTEXT			"",IDC_TXT4MATEMP,				230, 106, 70, 12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBL20MATEMP,				155, 120, 70, 8
	LTEXT			"",IDC_TXT20MATEMP,				230, 118, 70, 12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
END

IDD_UINUMERIC DIALOG   22, 17, 230, 75
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Sola Configuration"
FONT 8, "Verdana"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,100,50,30,11,WS_GROUP
    DEFPUSHBUTTON   "Cancel",IDCANCEL,175,50,30,11,WS_GROUP
//    EDITTEXT        IDC_UINUMEDIT, 100, 20, 100, 12, WS_CHILD | ES_NUMBER
END

IDD_CONFIGUIPERCENT DIALOG   22, 17, 230, 75
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Sola Configuration"
FONT 8, "Verdana"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,100,50,30,11,WS_GROUP
    DEFPUSHBUTTON   "Cancel",IDCANCEL,175,50,30,11,WS_GROUP
    EDITTEXT        IDC_CONFIGUIPCTEDIT, 100, 20, 30, 12, WS_CHILD | ES_NUMBER | ES_RIGHT
	CTEXT ".",IDC_STATIC,135,25,10,10,SS_CENTER
    EDITTEXT        IDC_CONFIGUIPCTEDITDEC, 150, 20, 30, 12, WS_CHILD | ES_NUMBER
END

IDD_UIMULTI DIALOG   22, 17, 230, 100
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Sola Configuration"
FONT 8, "Verdana"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,20,85,30,11,WS_GROUP
    DEFPUSHBUTTON   "Cancel",IDCANCEL,150,85,30,11,WS_GROUP
    COMBOBOX        IDC_UIMULTICOMBO, 20, 10, 100, 75, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
END

IDD_UITIME DIALOG   22, 17, 230, 75
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Sola Configuration"
FONT 8, "Verdana"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,100,50,30,11,WS_GROUP
    DEFPUSHBUTTON   "Cancel",IDCANCEL,175,50,30,11,WS_GROUP
	LTEXT			"Hours",IDC_STATIC,32,12,30,12
	EDITTEXT		IDC_CHHYSTSTHOUREDIT, 32, 25, 30, 12, ES_NUMBER
	LTEXT			"Minutes",IDC_STATIC,82,12,30,12
	EDITTEXT		IDC_CHHYSTSTMINEDIT, 82, 25, 30, 12, ES_NUMBER
	LTEXT			"Seconds",IDC_STATIC,142,12,30,12
	EDITTEXT		IDC_CHHYSTSTSECEDIT, 142, 25, 30, 12, ES_NUMBER
END

IDD_UIBITMASK DIALOG   22, 17, 300, 200
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Sola Configuration"
FONT 8, "Verdana"
BEGIN
	RTEXT			"Mask: ",IDC_STATIC,10,160,30,11
	LTEXT			"",IDC_TXTUIBMMASKVALUE,45,160,30,11
    DEFPUSHBUTTON   "OK",IDOK,100,180,30,11,WS_GROUP
    DEFPUSHBUTTON   "Cancel",IDCANCEL,175,180,30,11,WS_GROUP
END
