#include <windows.h>
#include "resource.h"

IDD_DHWCONFIGDLG DIALOGEX   22, 17, 300, 200
STYLE WS_CHILD | WS_VISIBLE | WS_BORDER | DS_SHELLFONT
CAPTION "DHW Config"
FONT 8, "Verdana"
BEGIN
    RTEXT           "",IDC_LBLDHWENABLE,			5, 10, 70, 8
	LTEXT			"",IDC_TXTDHWENABLE,			80, 8, 70,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLDHWDEMANDSWITCH,		5, 22, 70, 8
	LTEXT			"",IDC_TXTDHWDEMANDSWITCH,		80, 20, 70, 12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLDHWDHWPRIORITYVSCH,	5, 34, 70,	8
	LTEXT			"",IDC_TXTDHWDHWPRIORITYVSCH,	80, 32, 70, 12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLDHWDHWPRIORITYVSLL,	5, 46, 70,	8
	LTEXT			"",IDC_TXTDHWDHWPRIORITYVSLL,	80,	44, 70, 12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLDHWDHWPRIORITYTIME,	5, 58, 70,	8
	LTEXT			"",IDC_TXTDHWDHWPRIORITYTIME,	80,	56, 70, 12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLDHWSETPOINT,			5, 70, 70,	8
	LTEXT			"",IDC_TXTDHWSETPOINT,			80,	68, 70,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLDHWTODSETPOINT,		5, 82, 70,	8
	LTEXT			"",IDC_TXTDHWTODSETPOINT,		80,	80, 70,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLDHWONHYSTERESIS,		5, 94, 70,	8
	LTEXT			"",IDC_TXTDHWONHYSTERESIS,		80,	92, 70,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLDHWOFFHYSTERESIS,		5, 106, 70,	8
	LTEXT			"",IDC_TXTDHWOFFHYSTERESIS,		80,	104, 70, 12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLDHWPGAIN,				5, 118,	70,	8
	LTEXT			","IDC_TXTDHWPGAIN,				80,	116, 70, 12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLDHWIGAIN,				5, 130,	70,	8
	LTEXT			"",IDC_TXTDHWIGAIN,				80,	128, 70,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLDHWDGAIN,				5, 142,	70,	8
	LTEXT			"",IDC_TXTDHWDGAIN,				80,	140, 70, 12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLDHWHYSTSTEPTIME,		5, 154,	70,	8
	LTEXT			"",IDC_TXTDHWHYSTSTEPTIME,		80,	152, 70, 12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLDHWMODSENSOR,			5, 166,	70,	8
	LTEXT			"",IDC_TXTDHWMODSENSOR,			80, 164, 70, 12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLDHWPRIORITYSRC,		5, 178,	70,	8
	LTEXT			"",IDC_TXTDHWPRIORITYSRC,		80,	176, 70,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLDHWFROSTPROTENABLE,	5, 190, 70,	8
	LTEXT			"",IDC_TXTDHWFROSTPROTENABLE,	80, 188, 70, 12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLDHWDEMANDONTEMP,		155, 10, 70, 8
	LTEXT			"",IDC_TXTDHWDEMANDONTEMP,		230, 8, 70,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLDHWDEMANDOFFTEMP,		155, 22, 70, 8
	LTEXT			"",IDC_TXTDHWDEMANDOFFTEMP,		230, 20, 70, 12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
END
