#include <windows.h>
#include "resource.h"

IDD_DIGITALIODLG DIALOGEX   22, 17, 300, 200
STYLE WS_CHILD | WS_VISIBLE | WS_BORDER | DS_SHELLFONT
CAPTION "Digital IO"
FONT 8, "Verdana"
BEGIN
    LTEXT           "",IDC_LBLBIT00, 25,	10,		60,		8
	CONTROL         "", IDD_INDICATOR00, "Static", SS_BLACKRECT | WS_CHILD | SS_SUNKEN, 5, 10, 10, 10
	LTEXT           "",IDC_LBLBIT01, 25,	25,		60,		8
	CONTROL         "", IDD_INDICATOR01, "Static", SS_BLACKRECT | WS_CHILD | SS_SUNKEN, 5, 25, 10, 10
    LTEXT           "",IDC_LBLBIT02, 25,	40,		60,		8
	CONTROL         "", IDD_INDICATOR02, "Static", SS_BLACKRECT | WS_CHILD | SS_SUNKEN, 5, 40, 10, 10
    LTEXT           "",IDC_LBLBIT03, 25,	55,		60,		8
	CONTROL         "", IDD_INDICATOR03, "Static", SS_BLACKRECT | WS_CHILD | SS_SUNKEN, 5, 55, 10, 10
    LTEXT           "",IDC_LBLBIT04, 25,	70,	60,		8
	CONTROL         "", IDD_INDICATOR04, "Static", SS_BLACKRECT | WS_CHILD | SS_SUNKEN, 5, 70, 10, 10
    LTEXT           "",IDC_LBLBIT05, 25,	85,	60,		8
	CONTROL         "", IDD_INDICATOR05, "Static", SS_BLACKRECT | WS_CHILD | SS_SUNKEN, 5, 85, 10, 10
    LTEXT           "",IDC_LBLBIT06, 25,	100,	60,		8
	CONTROL         "", IDD_INDICATOR06, "Static", SS_BLACKRECT | WS_CHILD | SS_SUNKEN, 5, 100, 10, 10
    LTEXT           "",IDC_LBLBIT07, 125,	10,		60,		8
	CONTROL         "", IDD_INDICATOR07, "Static", SS_BLACKRECT | WS_CHILD | SS_SUNKEN, 105, 10, 10, 10
    LTEXT           "",IDC_LBLBIT08, 125,	25,		60,		8
	CONTROL         "", IDD_INDICATOR08, "Static", SS_BLACKRECT | WS_CHILD | SS_SUNKEN, 105, 25, 10, 10
    LTEXT           "",IDC_LBLBIT09, 125,	40,		60,		8
	CONTROL         "", IDD_INDICATOR09, "Static", SS_BLACKRECT | WS_CHILD | SS_SUNKEN, 105, 40, 10, 10
    LTEXT           "",IDC_LBLBIT0A, 125,	55,		60,		8
	CONTROL         "", IDD_INDICATOR0A, "Static", SS_BLACKRECT | WS_CHILD | SS_SUNKEN, 105, 55, 10, 10
    LTEXT           "",IDC_LBLBIT0B, 125,	70,		60,		8
	CONTROL         "", IDD_INDICATOR0B, "Static", SS_BLACKRECT | WS_CHILD | SS_SUNKEN, 105, 70, 10, 10
    LTEXT           "",IDC_LBLBIT0C, 125,	85,		60,		8
	CONTROL         "", IDD_INDICATOR0C, "Static", SS_BLACKRECT | WS_CHILD | SS_SUNKEN, 105, 85, 10, 10
    LTEXT           "",IDC_LBLBIT0D, 125,	100,	60,		8
	CONTROL         "", IDD_INDICATOR0D, "Static", SS_BLACKRECT | WS_CHILD | SS_SUNKEN, 105, 100, 10, 10
    LTEXT           "",IDC_LBLBIT0E, 225,	10,		60,		8
	CONTROL         "", IDD_INDICATOR0E, "Static", SS_BLACKRECT | WS_CHILD | SS_SUNKEN, 205, 10, 10, 10
    LTEXT           "",IDC_LBLBIT0F, 225,	25,		60,		8
	CONTROL         "", IDD_INDICATOR0F, "Static", SS_BLACKRECT | WS_CHILD | SS_SUNKEN, 205, 25, 10, 10

    LTEXT           "",IDC_LBLBIT4001, 25,	125,	75,		8
	CONTROL         "", IDD_INDICATOR4101, "Static", SS_BLACKRECT | WS_CHILD | SS_SUNKEN, 5, 125, 10, 10
	LTEXT           "",IDC_LBLBIT4002, 25,	140,	75,		8
	CONTROL         "", IDD_INDICATOR4102, "Static", SS_BLACKRECT | WS_CHILD | SS_SUNKEN, 5, 140, 10, 10
    LTEXT           "",IDC_LBLBIT4004, 25,	155,	75,		8
	CONTROL         "", IDD_INDICATOR4103, "Static", SS_BLACKRECT | WS_CHILD | SS_SUNKEN, 5, 155, 10, 10
    LTEXT           "",IDC_LBLBIT4008, 25,	170,	75,		8
	CONTROL         "", IDD_INDICATOR4104, "Static", SS_BLACKRECT | WS_CHILD | SS_SUNKEN, 5, 170, 10, 10
    LTEXT           "",IDC_LBLBIT4010, 25,	185,	75,		8
	CONTROL         "", IDD_INDICATOR4105, "Static", SS_BLACKRECT | WS_CHILD | SS_SUNKEN, 5, 185, 10, 10
    LTEXT           "",IDC_LBLBIT4020, 125,	125,	75,		8
	CONTROL         "", IDD_INDICATOR4106, "Static", SS_BLACKRECT | WS_CHILD | SS_SUNKEN, 105, 125, 10, 10
    LTEXT           "",IDC_LBLBIT4040, 125,	140,	75,		8
	CONTROL         "", IDD_INDICATOR4107, "Static", SS_BLACKRECT | WS_CHILD | SS_SUNKEN, 105, 140, 10, 10
    LTEXT           "",IDC_LBLBIT4080, 125,	155,	75,		8
	CONTROL         "", IDD_INDICATOR4108, "Static", SS_BLACKRECT | WS_CHILD | SS_SUNKEN, 105, 155, 10, 10
    LTEXT           "",IDC_LBLBIT4100, 125,	170,	75,		8
	CONTROL         "", IDD_INDICATOR4109, "Static", SS_BLACKRECT | WS_CHILD | SS_SUNKEN, 105, 170, 10, 10
    LTEXT           "",IDC_LBLBIT4200, 125,	185,	75,		8
	CONTROL         "", IDD_INDICATOR410a, "Static", SS_BLACKRECT | WS_CHILD | SS_SUNKEN, 105, 185, 10, 10
    LTEXT           "",IDC_LBLBIT4400, 225,	125,	75,		8
	CONTROL         "", IDD_INDICATOR410b, "Static", SS_BLACKRECT | WS_CHILD | SS_SUNKEN, 205, 125, 10, 10

END
