#include <windows.h>
#include "resource.h"

IDD_LIMCONFIGDLG DIALOGEX   22, 17, 300, 200
STYLE WS_CHILD | WS_VISIBLE | WS_BORDER | DS_SHELLFONT
CAPTION "Limits Config"
FONT 8, "Verdana"
BEGIN
    RTEXT           "",IDC_LBLOUTHILIMSTPT,		5,		10,		75,		8
	LTEXT			"",IDC_TXTOUTHILIMSTPT,		85,		10,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLOUTHILIMRESP,		5,		20,		75,		8
	LTEXT			"",IDC_TXTOUTHILIMRESP,		85,		20,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLSTACKLIMENBL,		5,		30,		75,		8
	LTEXT			"",IDC_TXTSTACKLIMENBL,		85,		30,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLSTACKLIMSTPT,			5,		40,		75,		8
	LTEXT			"",IDC_TXTSTACKLIMSTPT,			85,		40,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLSTACKLIMRESP,		5,		50,		75,		8
	LTEXT			"",IDC_TXTSTACKLIMRESP,		85,		50,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLSTACKLIMDLY,		5,		60,		75,		8
	LTEXT			"",IDC_TXTSTACKLIMDLY,		85,		60,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLDELTATINOUTENBL,	5,		70,		75,		8
	LTEXT			"",IDC_TXTDELTATINOUTENBL,	85,		70,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLDELTATINOUTDIFF,		5,		80,		75,		8
	LTEXT			"",IDC_TXTDELTATINOUTDIFF,		85,		80,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLDELTATRESP,	5,		90,		75,		8
	LTEXT			"",IDC_TXTDELTATRESP,	85,		90,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLDELTATDLY,				5,		100,	75,		8
	LTEXT			","IDC_TXTDELTATDLY,				85,		100,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLDHWHILIMENBL,				5,		110,	75,		8
	LTEXT			"",IDC_TXTDHWHILIMENBL,				85,		110,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLDHWHILIMSTPT,		5,		120,	75,		8
	LTEXT			"",IDC_TXTDHWHILIMSTPT,		85,		120,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLDHWHILIMRESP,		5,		130,	75,		8
	LTEXT			"",IDC_TXTDHWHILIMRESP,		85,		130,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLCHSLOWSTRTENBL,		5,		140,	75,		8
	LTEXT			"",IDC_TXTCHSLOWSTRTENBL,		85,		140,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLDHWSLOWSTRTENBL,		5,		150,	75,		8
	LTEXT			"",IDC_TXTDHWSLOWSTRTENBL,		85,		150,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLSLOWSTARTRAMP,		5,		160,	75,		8
	LTEXT			"",IDC_TXTSLOWSTARTRAMP,		85,		160,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLSLOWSTARTSTPT,	5,		170,	75,		8
	LTEXT			"",IDC_TXTSLOWSTARTSTPT,	85,		170,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLOUTTRISEENBL,		5,		180,	75,		8
	LTEXT			"",IDC_TXTOUTTRISEENBL,		85,		180,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLOUTTRISEDEG,	5,		190,	75,		8
	LTEXT			"",IDC_TXTOUTTRISEDEG,	85,		190,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLOUTTRISEDLY,		150,	10,		75,		8
	LTEXT			"",IDC_TXTOUTTRISEDLY,		230,	10,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLOUTHILIMENBL,		150,	20,		75,		8
	LTEXT			"",IDC_TXTOUTHILIMENBL,		230,	20,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLDELTARETRYLIM,			150,	30,		75,		8
	LTEXT			"",IDC_TXTDELTARETRYLIM,			230,	30,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLDELTATRATELIMENBL,		150,	40,		75,		8
	LTEXT			"",IDC_TXTDELTATRATELIMENBL,		230,	40,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLDELTATINVLIMTIME,			150,	50,		75,		8
	LTEXT			"",IDC_TXTDELTATINVLIMTIME,			230,	50,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLDELTATINVLIMRESP,			150,	60,		75,		8
	LTEXT			"",IDC_TXTDELTATINVLIMRESP,			230,	60,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLDELTATXCHGROUTENBL,		150,	70,		75,		8
	LTEXT			"",IDC_TXTDELTATXCHGROUTENBL,		230,	70,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLDELTATXCHGROUTDIFF,		150,	80,		75,		8
	LTEXT			"",IDC_TXTDELTATXCHGROUTDIFF,		230,	80,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLXCHGRTRISEENBL,		150,	90,		75,		8
	LTEXT			"",IDC_TXTXCHGRTRISEENBL,		230,	90,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLTRISERESP,		150,	100,	75,		8
	LTEXT			"",IDC_TXTTRISERESP,		230,	100,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLTRISERETRYLIM,		150,	110,	75,		8
	LTEXT			"",IDC_TXTTRISERETRYLIM,		230,	110,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLDELTATINXCHGRENBL,	150,	120,	75,		8
	LTEXT			"",IDC_TXTDELTATINXCHGRENBL,	230,	120,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLDELTATINXCHGRDIFF,	150,	130,	75,		8
	LTEXT			"",IDC_TXTDELTATINXCHGRDIFF,	230,	130,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLPRFRDOUTLETHILIM,		150,	140,	75,		8
	LTEXT			"",IDC_TXTPRFRDOUTLETHILIM,		230,	140,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLPRFRDSTACKLIMSTPT,	150,	150,	75,		8
	LTEXT			"",IDC_TXTPRFRDSTACKLIMSTPT,	230,	150,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
END