#include <windows.h>
#include "resource.h"

IDD_LLCONFIGDLG DIALOGEX   22, 17, 300, 200
STYLE WS_CHILD | WS_VISIBLE | WS_BORDER | DS_SHELLFONT
CAPTION "LL Config"
FONT 8, "Verdana"
BEGIN
    RTEXT           "",IDC_LBLLLSLAVEENABLE,		5,		10,		50,		8
	LTEXT			"",IDC_TXTLLSLAVEENABLE,		60,		10,		75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLLLMASTERENABLE,		5,		20,		50,		8
	LTEXT			"",IDC_TXTLLMASTERENABLE		60,		20,		75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLLLSETPOINT,			5,		30,		50,		8
	LTEXT			"",IDC_TXTLLSETPOINT,			60,		30,		75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLLLTODSETPOINT,		5,		40,		50,		8
	LTEXT			"",IDC_TXTLLTODSETPOINT,		60,		40,		75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLLLODRESETNABLE,		5,		50,		50,		8
	LTEXT			"",IDC_TXTLLODRESETNABLE,		60,		50,		75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLLLONHYSTERESIS,		5,		60,		50,		8
	LTEXT			"",IDC_TXTLLONHYSTERESIS,		60,		60,		75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLLLOFFHYSTERESIS,		5,		70,		50,		8
	LTEXT			"",IDC_TXTLLOFFHYSTERESIS,		60,		70,		75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLLLHYSTSTEPTIME,		5,		80,		50,		8
	LTEXT			"",IDC_TXTLLHYSTSTEPTIME,		60,		80,		75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLLLPGAIN,				5,		90,		50,		8
	LTEXT			"",IDC_TXTLLPGAIN,				60,		90,		75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLLLIGAIN,				5,		100,	50,		8
	LTEXT			","IDC_TXTLLIGAIN,				60,		100,	75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLLLDGAIN,				5,		110,	50,		8
	LTEXT			"",IDC_TXTLLDGAIN,				60,		110,	75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLLLOPERATIONSWITCH,	5,		120,	50,		8
	LTEXT			"",IDC_TXTLLOPERATIONSWITCH,	60,		120,	75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLLLCHDEMANDSWITCH,		5,		130,	50,		8
	LTEXT			"",IDC_TXTLLCHDEMANDSWITCH,		60,		130,	75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLLLCHSETPOINTSRC,		5,		140,	50,		8
	LTEXT			"",IDC_TXTLLCHSETPOINTSRC,		60,		140,	75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLLLMODULATIONSENSOR,	5,		150,	50,		8
	LTEXT			"",IDC_TXTLLMODULATIONSENSOR,	60,		150,	75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLLLBACKUPMODSENSOR,	5,		160,	50,		8
	LTEXT			"",IDC_TXTLLBACKUPMODSENSOR,	60,		160,	75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLLLCH4MATEMP,			5,		170,	50,		8
	LTEXT			"",IDC_TXTLLCH4MATEMP,			60,		170,	75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLLLCH20MATEMP,			5,		180,	50,		8
	LTEXT			"",IDC_TXTLLCH20MATEMP,			60,		180,	75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLLLCHMODBUSSETPOINT,	5,		190,	50,		8
	LTEXT			"",IDC_TXTLLCHMODBUSSETPOINT,	60,		190,	75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLLLCHMODBUSSTAT,		150,	10,		50,		8
	LTEXT			"",IDC_TXTLLCHMODBUSSTAT,		205,	10,		75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLLLSLAVEMODE,			150,	20,		50,		8
	LTEXT			"",IDC_TXTLLSLAVEMODE,			205,	20,		75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLLLSLAVECOMMAND,		150,	30,		50,		8
	LTEXT			"",IDC_TXTLLSLAVECOMMAND,		205,	30,		75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLLLBASELOADRATE,		150,	40,		50,		8
	LTEXT			"",IDC_TXTLLBASELOADRATE,		205,	40,		75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLLLFANDOCRATE,			150,	50,		50,		8
	LTEXT			"",IDC_TXTLLFANDOCRATE,			205,	50,		75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLLLSLAVESEQORDER,		150,	60,		50,		8
	LTEXT			"",IDC_TXTLLSLAVESEQORDER,		205,	60,		75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLLLMODBUSPORT,			150,	70,		50,		8
	LTEXT			"",IDC_TXTLLMODBUSPORT,			205,	70,		75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLLLSLAVEDTFDELAY,		150,	80,		50,		8
	LTEXT			"",IDC_TXTLLSLAVEDTFDELAY,		205,	80,		75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLLLSLAVECAPACITY,		150,	90,		50,		8
	LTEXT			"",IDC_TXTLLSLAVECAPACITY,		205,	90,		75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLLLBASELDCOMMRATE,		150,	100,	50,		8
	LTEXT			"",IDC_TXTLLBASELDCOMMRATE,		205,	100,	75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLLLRATEALLOCMETHOD,	150,	110,	50,		8
	LTEXT			"",IDC_TXTLLRATEALLOCMETHOD,	205,	110,	75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLLLLEADALLOCMETHOD,	150,	120,	50,		8
	LTEXT			"",IDC_TXTLLLEADALLOCMETHOD,	205,	120,	75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLLLLAGALLOCMETHOD,		150,	130,	50,		8
	LTEXT			"",IDC_TXTLLLAGALLOCMETHOD,		205,	130,	75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLWWSDENABLE,			150,	140,	50,		8
	LTEXT			"",IDC_TXTWWSDENABLE,			205,	140,	75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLWWSDSETPOINT,			150,	150,	50,		8
	LTEXT			"",IDC_TXTWWSDSETPOINT,			205,	150,	75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLLLFROSTPROTENABLE,	150,	160,	50,		8
	LTEXT			"",IDC_TXTLLFROSTPROTENABLE,	205,	160,	75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLLLFROSTPROTRATE,		150,	170,	50,		8
	LTEXT			"",IDC_TXTLLFROSTPROTRATE,		205,	170,	75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN

	LTEXT			"Extended LL Config",IDC_STATIC,295,	10,		75,		8
    RTEXT           "",IDC_LBLLLDHWDEMANDSW,		295,	20,		50,		8
	LTEXT			"",IDC_TXTLLDHWDEMANDSW,		350,		20,		75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLLLDHWSETPOINT,		295,		30,		50,		8
	LTEXT			"",IDC_TXTLLDHWSETPOINT		350,		30,		75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLLLDHWPRIORITYVSCH,			295,		40,		50,		8
	LTEXT			"",IDC_TXTLLDHWPRIORITYVSCH,			350,		40,		75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLLLRESERVED01,		295,		50,		50,		8
	LTEXT			"",IDC_TXTLLRESERVED01,		350,		50,		75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLLLRESERVED02,		295,		60,		50,		8
	LTEXT			"",IDC_TXTLLRESERVED02,		350,		60,		75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLLLRESERVED03,		295,		70,		50,		8
	LTEXT			"",IDC_TXTLLRESERVED03,		350,		70,		75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLLLRESERVED04,		295,		80,		50,		8
	LTEXT			"",IDC_TXTLLRESERVED04,		350,		80,		75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLLLRESERVED05,		295,		90,		50,		8
	LTEXT			"",IDC_TXTLLRESERVED05,		350,		90,		75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLLLRESERVED06,				295,		100,		50,		8
	LTEXT			"",IDC_TXTLLRESERVED06,				350,		100,		75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLLLSLVDROPOUTRTNCOMP,				295,		110,	50,		8
	LTEXT			","IDC_TXTLLSLVDROPOUTRTNCOMP,				350,		110,	75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLLLADDSTGMTHD,				295,		120,	50,		8
	LTEXT			"",IDC_TXTLLADDSTGMTHD,				350,		120,	75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLLLRESERVED07,	295,		130,	50,		8
	LTEXT			"",IDC_TXTLLRESERVED07,	350,		130,	75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLLLADDSTGDTCTTIME,		295,		140,	50,		8
	LTEXT			"",IDC_TXTLLADDSTGDTCTTIME,		350,		140,	75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLLLRESERVED08,		295,		150,	50,		8
	LTEXT			"",IDC_TXTLLRESERVED08,		350,		150,	75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLLLADDSTGERRTHRSHLD,	295,		160,	50,		8
	LTEXT			"",IDC_TXTLLADDSTGERRTHRSHLD,	350,		160,	75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLLLADDSTGRATEOFFSET,	295,		170,	50,		8
	LTEXT			"",IDC_TXTLLADDSTGRATEOFFSET,	350,		170,	75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLLLADDSTGERRGAIN,			295,		180,	50,		8
	LTEXT			"",IDC_TXTLLADDSTGERRGAIN,			350,		180,	75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLLLADDSTGRATEGAIN,			295,		190,	50,		8
	LTEXT			"",IDC_TXTLLADDSTGRATEGAIN,			350,		190,	75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLLLADDSTGINTRSTGDLY,	430,		10,	50,		8
	LTEXT			"",IDC_TXTLLADDSTGINTRSTGDLY,	490,		10,	75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN

    RTEXT           "",IDC_LBLLLDROPSTGMTHD,		430,	20,		50,		8
	LTEXT			"",IDC_TXTLLDROPSTGMTHD,		490,		20,		75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLLLRESERVED09,		430,		30,		50,		8
	LTEXT			"",IDC_TXTLLRESERVED09,		490,		30,		75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLLLDROPSTGDTCTTIME,			430,		40,		50,		8
	LTEXT			"",IDC_TXTLLDROPSTGDTCTTIME,			490,		40,		75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLLLRESERVED10,		430,		50,		50,		8
	LTEXT			"",IDC_TXTLLRESERVED10,		490,		50,		75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLLLDROPSTGERRTHRSHLD,		430,		60,		50,		8
	LTEXT			"",IDC_TXTLLDROPSTGERRTHRSHLD,		490,		60,		75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLLLDROPSTGRATEOFFSET,		430,		70,		50,		8
	LTEXT			"",IDC_TXTLLDROPSTGRATEOFFSET,		490,		70,		75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLLLDROPSTGERRGAIN,		430,		80,		50,		8
	LTEXT			"",IDC_TXTLLDROPSTGERRGAIN,		490,		80,		75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLLLDROPSTGRATEGAIN,		430,		90,		50,		8
	LTEXT			"",IDC_TXTLLDROPSTGRATEGAIN,		490,		90,		75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLLLDROPSTGINTRSTGDLY,				430,		100,		50,		8
	LTEXT			"",IDC_TXTLLDROPSTGINTRSTGDLY,				490,		100,		75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLLLRESERVED11,				430,		110,	50,		8
	LTEXT			","IDC_TXTLLRESERVED11,				490,		110,	75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLLLEADROTNTIME,				430,		120,	50,		8
	LTEXT			"",IDC_TXTLLEADROTNTIME,				490,		120,	75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLLFRCLEADROTNTIME,	430,		130,	50,		8
	LTEXT			"",IDC_TXTLFRCLEADROTNTIME,	490,		130,	75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLLDHWTODSETPOINT,		430,		140,	50,		8
	LTEXT			"",IDC_TXTLDHWTODSETPOINT,		490,		140,	75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLLBLROFFOPTIONS,		430,		150,	50,		8
	LTEXT			"",IDC_TXTLBLROFFOPTIONS,		490,		150,	75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLLALLBLRSOFFTHRSHLD,	430,		160,	50,		8
	LTEXT			"",IDC_TXTLALLBLRSOFFTHRSHLD,	490,		160,	75,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	

END
