#include <windows.h>
#include "resource.h"

IDD_LLSTATUSDLG DIALOGEX   22, 17, 300, 200
STYLE WS_CHILD | WS_VISIBLE | WS_BORDER | DS_SHELLFONT
CAPTION "LL Status"
FONT 8, "Verdana"
BEGIN
    RTEXT           "",IDC_LBLLLMASTERSTATUS,		5,		10,		100,	8
	LTEXT			"",IDC_TXTLLMASTERSTATUS,		110,	10,		100,	8, SS_LEFT //| SS_SUNKEN
    RTEXT           "",IDC_LBLLLSLAVESTATUS,		5,		20,		100,	8
	LTEXT			"",IDC_TXTLLSLAVESTATUS,		110,	20,		100,	8, SS_LEFT //| SS_SUNKEN
    RTEXT           "",IDC_LBLLLMASTERSPSRC,		5,		30,		100,	8
	LTEXT			"",IDC_TXTLLMASTERSPSRC,		110,	30,		100,	8, SS_LEFT //| SS_SUNKEN
    RTEXT           "",IDC_LBLLLMASTERHEATDMND,		5,		40,		100,	8
	LTEXT			"",IDC_TXTLLMASTERHEATDMND,		110,	40,		100,	8, SS_LEFT //| SS_SUNKEN
    RTEXT           "",IDC_LBLLLSLAVEBURNERDMND,	5,		50,		100,	8
	LTEXT			"",IDC_TXTLLSLAVEBURNERDMND,	110,	50,		100,	8, SS_LEFT //| SS_SUNKEN
    RTEXT           "",IDC_LBLLLSLAVEREQRATE,		5,		60,		100,	8
	LTEXT			"",IDC_TXTLLSLAVEREQRATE,		110,	60,		100,	8, SS_LEFT //| SS_SUNKEN
    RTEXT           "",IDC_LBLXLLACTIVESERVICE,		5,		72,		100,	8
	LTEXT			"",IDC_TXTXLLACTIVESERVICE,		110,	72,		100,	8, SS_LEFT
    RTEXT           "",IDC_LBLXLLSLAVE1ADDR,		5,		84,		40,		8
	LTEXT			"",IDC_TXTXLLSLAVE1ADDR,		50,		84,		40,		8, SS_LEFT
    RTEXT           "",IDC_LBLXLLSLAVE1STATE,		5,		92,		40,		8
	LTEXT			"",IDC_TXTXLLSLAVE1STATE,		50,		92,		40,		8, SS_LEFT
    RTEXT           "",IDC_LBLXLLSLAVE1STGORDER,	5,		100,	40,		8
	LTEXT			"",IDC_TXTXLLSLAVE1STGORDER,	50,		100,	40,		8, SS_LEFT
    RTEXT           "",IDC_LBLXLLSLAVE1FIRINGRATE,	5,		108,	40,		8
	LTEXT			"",IDC_TXTXLLSLAVE1FIRINGRATE,	50,		108,	40,		8, SS_LEFT
    RTEXT           "",IDC_LBLXLLSLAVE2ADDR,		5,		120,	40,		8
	LTEXT			"",IDC_TXTXLLSLAVE2ADDR,		50,		120,	40,		8, SS_LEFT
    RTEXT           "",IDC_LBLXLLSLAVE2STATE,		5,		128,	40,		8
	LTEXT			"",IDC_TXTXLLSLAVE2STATE,		50,		128,	40,		8, SS_LEFT
    RTEXT           "",IDC_LBLXLLSLAVE2STGORDER,	5,		136,	40,		8
	LTEXT			"",IDC_TXTXLLSLAVE2STGORDER,	50,		136,	40,		8, SS_LEFT
    RTEXT           "",IDC_LBLXLLSLAVE2FIRINGRATE,	5,		144,	40,		8
	LTEXT			"",IDC_TXTXLLSLAVE2FIRINGRATE,	50,		144,	40,		8, SS_LEFT
    RTEXT           "",IDC_LBLXLLSLAVE3ADDR,		5,		156,	40,		8
	LTEXT			"",IDC_TXTXLLSLAVE3ADDR,		50,		156,	40,		8, SS_LEFT
    RTEXT           "",IDC_LBLXLLSLAVE3STATE,		5,		164,	40,		8
	LTEXT			"",IDC_TXTXLLSLAVE3STATE,		50,		164,	40,		8, SS_LEFT
    RTEXT           "",IDC_LBLXLLSLAVE3STGORDER,	5,		172,	40,		8
	LTEXT			"",IDC_TXTXLLSLAVE3STGORDER,	50,		172,	40,		8, SS_LEFT
    RTEXT           "",IDC_LBLXLLSLAVE3FIRINGRATE,	5,		180,	40,		8
	LTEXT			"",IDC_TXTXLLSLAVE3FIRINGRATE,	50,		180,	40,		8, SS_LEFT
    RTEXT           "",IDC_LBLXLLSLAVE4ADDR,		95,		84,		40,		8
	LTEXT			"",IDC_TXTXLLSLAVE4ADDR,		140,	84,		40,		8, SS_LEFT
    RTEXT           "",IDC_LBLXLLSLAVE4STATE,		95,		92,		40,		8
	LTEXT			"",IDC_TXTXLLSLAVE4STATE,		140,	92,		40,		8, SS_LEFT
    RTEXT           "",IDC_LBLXLLSLAVE4STGORDER,	95,		100,	40,		8
	LTEXT			"",IDC_TXTXLLSLAVE4STGORDER,	140,	100,	40,		8, SS_LEFT
    RTEXT           "",IDC_LBLXLLSLAVE4FIRINGRATE,	95,		108,	40,		8
	LTEXT			"",IDC_TXTXLLSLAVE4FIRINGRATE,	140,	108,	40,		8, SS_LEFT
    RTEXT           "",IDC_LBLXLLSLAVE5ADDR,		95,		120,	40,		8
	LTEXT			"",IDC_TXTXLLSLAVE5ADDR,		140,	120,	40,		8, SS_LEFT
    RTEXT           "",IDC_LBLXLLSLAVE5STATE,		95,		128,	40,		8
	LTEXT			"",IDC_TXTXLLSLAVE5STATE,		140,	128,	40,		8, SS_LEFT
    RTEXT           "",IDC_LBLXLLSLAVE5STGORDER,	95,		136,	40,		8
	LTEXT			"",IDC_TXTXLLSLAVE5STGORDER,	140,	136,	40,		8, SS_LEFT
    RTEXT           "",IDC_LBLXLLSLAVE5FIRINGRATE,	95,		144,	40,		8
	LTEXT			"",IDC_TXTXLLSLAVE5FIRINGRATE,	140,	144,	40,		8, SS_LEFT
    RTEXT           "",IDC_LBLXLLSLAVE6ADDR,		95,		156,	40,		8
	LTEXT			"",IDC_TXTXLLSLAVE6ADDR,		140,	156,	40,		8, SS_LEFT
    RTEXT           "",IDC_LBLXLLSLAVE6STATE,		95,		164,	40,		8
	LTEXT			"",IDC_TXTXLLSLAVE6STATE,		140,	164,	40,		8, SS_LEFT
    RTEXT           "",IDC_LBLXLLSLAVE6STGORDER,	95,		172,	40,		8
	LTEXT			"",IDC_TXTXLLSLAVE6STGORDER,	140,	172,	40,		8, SS_LEFT
    RTEXT           "",IDC_LBLXLLSLAVE6FIRINGRATE,	95,		180,	40,		8
	LTEXT			"",IDC_TXTXLLSLAVE6FIRINGRATE,	140,	180,	40,		8, SS_LEFT
    RTEXT           "",IDC_LBLXLLSLAVE7ADDR,		185,	84,		40,		8
	LTEXT			"",IDC_TXTXLLSLAVE7ADDR,		230,	84,		40,		8, SS_LEFT
    RTEXT           "",IDC_LBLXLLSLAVE7STATE,		185,	92,		40,		8
	LTEXT			"",IDC_TXTXLLSLAVE7STATE,		230,	92,		40,		8, SS_LEFT
    RTEXT           "",IDC_LBLXLLSLAVE7STGORDER,	185,	100,	40,		8
	LTEXT			"",IDC_TXTXLLSLAVE7STGORDER,	230,	100,	40,		8, SS_LEFT
    RTEXT           "",IDC_LBLXLLSLAVE7FIRINGRATE,	185,	108,	40,		8
	LTEXT			"",IDC_TXTXLLSLAVE7FIRINGRATE,	230,	108,	40,		8, SS_LEFT
    RTEXT           "",IDC_LBLXLLSLAVE8ADDR,		185,	120,	40,		8
	LTEXT			"",IDC_TXTXLLSLAVE8ADDR,		230,	120,	40,		8, SS_LEFT
    RTEXT           "",IDC_LBLXLLSLAVE8STATE,		185,	128,	40,		8
	LTEXT			"",IDC_TXTXLLSLAVE8STATE,		230,	128,	40,		8, SS_LEFT
    RTEXT           "",IDC_LBLXLLSLAVE8STGORDER,	185,	136,	40,		8
	LTEXT			"",IDC_TXTXLLSLAVE8STGORDER,	230,	136,	40,		8, SS_LEFT
    RTEXT           "",IDC_LBLXLLSLAVE8FIRINGRATE,	185,	144,	40,		8
	LTEXT			"",IDC_TXTXLLSLAVE8FIRINGRATE,	230,	144,	40,		8, SS_LEFT
    RTEXT           "",IDC_LBLXLLLEADBOILERADDR,	185,	156,	70,		8
	LTEXT			"",IDC_TXTXLLLEADBOILERADDR,	260,	156,	30,		8, SS_LEFT
    RTEXT           "",IDC_LBLXLLMASTERFIRINGRATE,	185,	166,	70,		8
	LTEXT			"",IDC_TXTXLLMASTERFIRINGRATE,	260,	166,	30,		8, SS_LEFT
	LTEXT			"",IDC_TXTXLLSTATUSARRAYSIZE,	260,	178,	30,		8, SS_LEFT | SS_SUNKEN | SS_NOTIFY
END
