#include <windows.h>
#include "resource.h"

IDD_LOCKOUTRECORDDLG DIALOGEX DISCARDABLE 22, 17, 300, 200
//STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE | WS_BORDER | DS_SHELLFONT
STYLE DS_SETFONT | WS_BORDER
//STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
//STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | DS_SHELLFONT
CAPTION "Lockout Record"
FONT 8, "Verdana"
BEGIN
	LTEXT	"Cycle:", IDC_STATIC, 60, 10, 50, 8, SS_LEFT
	LTEXT	"",IDC_TXTLOCKOUTCYCLE, 115, 10, 50, 8
	LTEXT	"Hours:", IDC_STATIC, 170, 10, 50, 8, SS_LEFT
	LTEXT	"",IDC_TXTLOCKOUTHOURS, 225, 10, 50, 8
	LTEXT	"",IDC_TXTLOCKOUTCODE, 40, 20, 200, 8
	LTEXT	"State:", IDC_STATIC, 10, 30, 40, 8, SS_LEFT
	LTEXT	"",IDC_TXTLOCKOUTSTATE, 50, 30, 100, 8
	LTEXT	"Time:", IDC_STATIC, 180, 30, 50, 8, SS_LEFT
	LTEXT	"",IDC_TXTLOCKOUTSEQTIME, 240, 30, 50, 8
	LTEXT	"1st Out:", IDC_STATIC, 180, 40, 50, 8, SS_LEFT
	LTEXT	"",IDC_TXTLOCKOUT1STOUT, 240, 40, 50, 8
//    LISTBOX	IDC_LOCKOUTRCRDLIST, 10, 50, 250, 100, WS_TABSTOP | WS_VSCROLL | WS_VISIBLE | LBS_DISABLENOSCROLL | LBS_HASSTRINGS
    LTEXT           "", IDC_LBLBIT00, 23, 65, 30, 8
    LTEXT           "", IDC_LBLBIT01, 23, 77, 30, 8
    LTEXT           "", IDC_LBLBIT02, 23, 90, 30, 8
    LTEXT           "", IDC_LBLBIT03, 11, 103, 60, 8
    LTEXT           "", IDC_LBLBIT04, 11, 116, 50, 8
    LTEXT           "", IDC_LBLBIT05, 11, 129, 45, 8
    LTEXT           "", IDC_LBLBIT06, 11, 142, 45, 8
    LTEXT           "", IDC_LBLBIT07, 11, 155, 45, 8
    LTEXT           "", IDC_LBLBIT0D, 11, 168, 60, 8
    LTEXT           "", IDC_LBLBIT0E, 160, 65, 60, 8
    LTEXT           "", IDC_LBLBIT0F, 160, 77, 60, 8
    LTEXT           "Inlet=", IDC_STATIC, 200, 90, 25, 8
    LTEXT           "Outlet=", IDC_STATIC, 194, 103, 24, 8
    LTEXT           "DHW=", IDC_STATIC, 195, 116, 23, 8
    LTEXT           "Outdoor=", IDC_STATIC, 188, 129, 30, 8
    LTEXT           "Stack=", IDC_STATIC, 194, 142, 24, 8
    LTEXT           "4-20mA=", IDC_STATIC, 189, 155, 29, 8
    LTEXT           "Data=", IDC_STATIC, 198, 168, 20, 8
    LTEXT           "", IDC_TXTLRDPUMPA, 80, 65, 40, 8, SS_LEFT
    LTEXT           "", IDC_TXTLRDPUMPB, 80, 77, 40, 8, SS_LEFT
    LTEXT           "", IDC_TXTLRDPUMPC, 80, 90, 40, 8, SS_LEFT
    LTEXT           "", IDC_TXTLRDBLOWERHSI, 80, 103, 19, 8, SS_LEFT
    LTEXT           "", IDC_TXTLRDEXTIGN, 80, 116, 19, 8, SS_LEFT
    LTEXT           "", IDC_TXTLRDPILOTVALVE, 80, 129, 19, 8, SS_LEFT
    LTEXT           "", IDC_TXTLRDMAINVALVE, 80, 142, 19, 8, SS_LEFT
    LTEXT           "", IDC_TXTLRDALARM, 80, 155, 19, 8, SS_LEFT
    LTEXT           "", IDC_TXTLRDSTAT, 80, 168, 19, 8, SS_LEFT
    LTEXT           "", IDC_TXTLRDTOD, 225, 66, 19, 8, SS_LEFT
    LTEXT           "", IDC_TXTSAFETYRELAY, 225, 77, 19, 8, SS_LEFT
    LTEXT           "", IDC_TXTLRDINLET, 225, 90, 19, 8, SS_LEFT
    LTEXT           "", IDC_TXTLRDOUTLET, 225, 103, 19, 8, SS_LEFT
    LTEXT           "", IDC_TXTLRDDHW, 225, 116, 19, 8, SS_LEFT
    LTEXT           "", IDC_TXTLRDOUTDOOR, 225, 129, 19, 8, SS_LEFT
    LTEXT           "", IDC_TXTLRDSTACK, 225, 142, 19, 8, SS_LEFT
    LTEXT           "", IDC_TXTLRD420MA, 225, 155, 19, 8, SS_LEFT
    LTEXT           "", IDC_TXTLRDDATA, 225, 168, 40, 8, SS_LEFT
    DEFPUSHBUTTON   "OK",IDOK,180,180,50,14,WS_GROUP
END
