#include <windows.h>
#include "resource.h"

IDD_LOCKOUTLOGDLG DIALOGEX   22, 17, 300, 200
STYLE WS_CHILD | WS_VISIBLE | WS_BORDER | DS_SHELLFONT
CAPTION "Lockout Log"
FONT 8, "Verdana"
BEGIN
    LTEXT	"Lockout Code", IDC_STATIC, 5, 20, 50, 8, SS_LEFT
    LTEXT	"Cycle", IDC_STATIC, 60, 20, 50, 8, SS_LEFT
    LTEXT	"Description", IDC_STATIC, 110, 20, 38, 8, SS_LEFT
    LISTBOX	IDC_LOCKOUTLIST, 5, 30, 295, 150, WS_TABSTOP | WS_VSCROLL | LBS_DISABLENOSCROLL | LBS_NOINTEGRALHEIGHT | LBS_NOTIFY
	LTEXT	"",IDC_UPDCOUNT,150,180,20,10
	PUSHBUTTON	"Clr lockout",IDC_BTNCLRLOCKOUT 250,185,50,10
END
