#include <windows.h>
#include "resource.h"

IDD_MBSERVERIP DIALOGEX   22, 17, 230, 125
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Modbus Server IP"
FONT 8, "Verdana"
BEGIN
	LTEXT   "Host name (optional)", IDC_STATIC, 16, 22, 100, 11, WS_GROUP
	LTEXT   "OR", IDC_STATIC, 16, 50, 100, 11, WS_GROUP
	LTEXT   "IP Address", IDC_STATIC, 16, 65, 100, 11, WS_GROUP
	DEFPUSHBUTTON   "OK",IDOK,100,100,30,11,WS_GROUP
    DEFPUSHBUTTON   "Cancel",IDCANCEL,175,100,30,11,WS_GROUP
END
