#include <windows.h>
#include "resource.h"

IDD_MODCONFIGDLG DIALOGEX   22, 17, 300, 200
STYLE WS_CHILD | WS_VISIBLE | WS_BORDER | DS_SHELLFONT
CAPTION "Mod. Config"
FONT 8, "Verdana"
BEGIN
    RTEXT           "",IDC_LBLMODOUTPUT,			5,		10,		75,		8
	LTEXT			"",IDC_TXTMODOUTPUT,			85,	8,		50,		12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLMODCHMAXRATE,			5,		22,		75,		8
	LTEXT			"",IDC_TXTMODCHMAXRATE,			85,	20,		50,		12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLMODDWHMAXRATE,		5,		34,		75,		8
	LTEXT			"",IDC_TXTMODDWHMAXRATE,		85,	32,		50,		12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLMODMINRATE,			5,		46,		75,		8
	LTEXT			"",IDC_TXTMODMINRATE,			85,	44,		50,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLMODPREPURGERATE,		5,		58,		75,	8
	LTEXT			"",IDC_TXTMODPREPURGERATE,		85,	56,		50,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLMODLIGHTOFFRATE,		5,		70,		75,	8
	LTEXT			"",IDC_TXTMODLIGHTOFFRATE,		85,	68,		50,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLMODPOSTPURGERATE,		5,		82,		75,	8
	LTEXT			"",IDC_TXTMODPOSTPURGERATE,		85,	80,		50,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLMODCHFORCEDRATE,		5,		94,		75,	8
	LTEXT			"",IDC_TXTMODCHFORCEDRATE,		85,	92,		50,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLMODCHFORCEDRATETIME,	5,		106,	75,	8
	LTEXT			"",IDC_TXTMODCHFORCEDRATETIME,	85,	104,	50,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLMODDHWFORCEDRATE,		5,		118,	75,	8
	LTEXT			","IDC_TXTMODDHWFORCEDRATE,		85,	116,	50,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLMODDHWFORCEDRATETIME,	5,		130,	75,	8
	LTEXT			","IDC_TXTMODDHWFORCEDRATETIME,	85,	128,	50,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLMODBURNERSWITCH,		5,		142,	75,	8
	LTEXT			"",IDC_TXTMODBURNERSWITCH,		85,	140,	50,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLMODFIRINGRATECTRL,	5,		154,	75,	8
	LTEXT			"",IDC_TXTMODFIRINGRATECTRL,	85,	152,	50,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLMODMANUALFIRINGRATE,	5,		166,	75,	8
	LTEXT			"",IDC_TXTMODMANUALFIRINGRATE,	85,	164,	50,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLMODANALOGOUTPUTHYST,	5,		178,	75,	8
	LTEXT			"",IDC_TXTMODANALOGOUTPUTHYST,	85,	176,	50,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLMODSTANDBYRATE,		5,		190,	75,	8
	LTEXT			"",IDC_TXTMODSTANDBYRATE,		85,	188,	50,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN

    RTEXT           "",IDC_LBLABSMAXFANSPD,		155,	10,		75,	8
	LTEXT			"",IDC_TXTABSMAXFANSPD,		230,	8,		50,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLABSMINFANSPD,		155,	22,		75,	8
	LTEXT			"",IDC_TXTABSMINFANSPD,		230,	20,		50,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLFANPWMFREQ,		155,	34,		75,	8
	LTEXT			"",IDC_TXTFANPWMFREQ,		230,	32,		50,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLFANPULSPERREV,	155,	46,		75,	8
	LTEXT			"",IDC_TXTFANPULSPERREV,	230,	44,		50,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLFANSPDUPRAMP,		155,	58,		75,	8
	LTEXT			"",IDC_TXTFANSPDUPRAMP,		230,	56,		50,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLFANSLOWDNRAMP,	155,	70,		75,	8
	LTEXT			"",IDC_TXTFANSLOWDNRAMP,	230,	68,		50,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLFANGAINUP,		155,	82,		75,	8
	LTEXT			"",IDC_TXTFANGAINUP,		230,	80,		50,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLFANGAINDOWN,		155,	94,		75,	8
	LTEXT			"",IDC_TXTFANGAINDOWN,		230,	92,		50,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLFANMINDUTYCYCLE,	155,	106,	75,	8
	LTEXT			"",IDC_TXTFANMINDUTYCYCLE,	230,	104,	50,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLPRFRDLIGHTOFFRATE,155,	118,	75,	8
	LTEXT			"",IDC_TXTPRFRDLIGHTOFFRATE,230,	116,	50,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLFRZPROTRATE0V4MA,	155,	130,	75,	8
	LTEXT			"",IDC_TXTFRZPROTRATE0V4MA,	230,	128,	50,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLSTPDMODSTRTOFFSET,155,	142,	75,	8
	LTEXT			"",IDC_TXTSTPDMODSTRTOFFSET,230,	140,	50,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLSTPDMODRCYCLOFFSET,155,	154,	75,	8
	LTEXT			"",IDC_TXTSTPDMODRCYCLOFFSET,230,	152,	50,	12, SS_LEFT | SS_NOTIFY | SS_SUNKEN

END
/*
IDD_MODCONFIGUINUMERIC DIALOG   22, 17, 230, 75
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Mod. Config"
FONT 8, "Verdana"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,100,50,30,11,WS_GROUP
    DEFPUSHBUTTON   "Cancel",IDCANCEL,175,50,30,11,WS_GROUP
    EDITTEXT        IDC_MODCONFIGUINUMEDIT, 100, 20, 100, 12, WS_CHILD | ES_NUMBER
END

IDD_MODCONFIGUIPERCENT DIALOG   22, 17, 230, 75
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Mod. Config"
FONT 8, "Verdana"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,100,50,30,11,WS_GROUP
    DEFPUSHBUTTON   "Cancel",IDCANCEL,175,50,30,11,WS_GROUP
    EDITTEXT        IDC_MODCONFIGUIPCTEDIT, 100, 20, 100, 12, WS_CHILD | ES_NUMBER
END

IDD_MODCONFIGUIMULTI DIALOG   22, 17, 230, 100
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Mod. Config"
FONT 8, "Verdana"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,20,85,30,11,WS_GROUP
    DEFPUSHBUTTON   "Cancel",IDCANCEL,150,85,30,11,WS_GROUP
    COMBOBOX        IDC_MODCONFIGUIMULTICOMBO, 20, 10, 100, 75, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
END

IDD_MODCONFIGUITIME DIALOG   22, 17, 230, 75
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Mod. Config"
FONT 8, "Verdana"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,100,50,30,11,WS_GROUP
    DEFPUSHBUTTON   "Cancel",IDCANCEL,175,50,30,11,WS_GROUP
	LTEXT			"Hours",IDC_STATIC,32,12,30,12
	EDITTEXT		IDC_MODHOUREDIT, 32, 25, 30, 12, ES_NUMBER
	LTEXT			"Minutes",IDC_STATIC,82,12,30,12
	EDITTEXT		IDC_MODMINEDIT, 82, 25, 30, 12, ES_NUMBER
	LTEXT			"Seconds",IDC_STATIC,142,12,30,12
	EDITTEXT		IDC_MODSECEDIT, 142, 25, 30, 12, ES_NUMBER
END
*/