#include <windows.h>
#include "resource.h"

IDD_ODRESETCFGDLG DIALOGEX   22, 17, 300, 200
STYLE WS_CHILD | WS_VISIBLE | WS_BORDER | DS_SHELLFONT
CAPTION "ODR Config"
FONT 8, "Verdana"
BEGIN
    RTEXT           "",IDC_LBLODRMAXODTEMP,				5,		10,		95,	8
	LTEXT			"",IDC_TXTODRMAXODTEMP,				105,	8,		40,		10, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLODRMINODTEMP,				5,		22,		95,	8
	LTEXT			"",IDC_TXTODRMINODTEMP				105,	20,		40,		10, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLODRCHLWTEMP,				5,		34,		95,	8
	LTEXT			"",IDC_TXTODRCHLWTEMP,				105,	32,		40,		10, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLODRCHBOOSTTIME,			5,		46,		95,	8
	LTEXT			"",IDC_TXTODRCHBOOSTTIME,			105,	44,		40,		10, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLODRCHMAXOFFPT,			5,		58,		95,	8
	LTEXT			"",IDC_TXTODRCHMAXOFFPT,			105,	56,		40,		10, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLODRLLMAXODTEMP,			5,		70,		95,	8
	LTEXT			"",IDC_TXTODRLLMAXODTEMP,			105,	68,		40,		10, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLODRLLMINODTEMP,			5,		82,		95,	8
	LTEXT			"",IDC_TXTODRLLMINODTEMP,			105,	80,		40,		10, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLODRLLLWTEMP,				5,		94,		95,	8
	LTEXT			"",IDC_TXTODRLLLWTEMP,				105,	92,		40,		10, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLODRLLBOOSTTIME,			5,		106,	95,	8
	LTEXT			"",IDC_TXTODRLLBOOSTTIME,			105,	104,	40,		10, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLODRLLMAXOFFPT,			5,		118,	95,	8
	LTEXT			","IDC_TXTODRLLMAXOFFPT,			105,	116,	40,		10, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLODRCHBOOSTSTEP,			5,		130,	95,	8
	LTEXT			"",IDC_TXTODRCHBOOSTSTEP,			105,	128,	40,		10, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLODRCHBOOSTRCVRYSTEPTIME,	5,		142,	95,	8
	LTEXT			"",IDC_TXTODRCHBOOSTRCVRYSTEPTIME,	105,	140,	40,		10, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLODRLLBOOSTSTEP,			5,		154,	95,	8
	LTEXT			"",IDC_TXTODRLLBOOSTSTEP,			105,	152,	40,		10, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLODRLLBOOSTRCVRYSTEPTIME,	5,		166,	95,	8
	LTEXT			"",IDC_TXTODRLLBOOSTRCVRYSTEPTIME,	105,	164,	40,		10, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLODRMINBOILERWATERTEMP,	5,		178,	95,	8
	LTEXT			"",IDC_TXTODRMINBOILERWATERTEMP,	105,	176,	40,		10, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLODRLLMINWATERTEMP,		5,		190,	95,	8
	LTEXT			"",IDC_TXTODRLLMINWATERTEMP,		105,	188,	40,		10, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLODTEMPCORROFFSET,			150,	10,		95,	8
	LTEXT			"",IDC_TXTODTEMPCORROFFSET,			250,	8,		40,		10, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "", IDC_LBLODTEMPSOURCE,			150,	22,		95,		8
	LTEXT			"", IDC_TXTODTEMPSOURCE,			250,	20,		40,		10, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	PUSHBUTTON		"Show Line",IDC_ODRESETLINEBTN,		230,	188,	60,		11
END