#include <windows.h>
#include "resource.h"

IDD_PUMPCONFIGDLG DIALOGEX   22, 17, 300, 200
STYLE WS_CHILD | WS_VISIBLE | WS_BORDER | DS_SHELLFONT
CAPTION "Pump Config"
FONT 8, "Verdana"
BEGIN
    RTEXT           "",IDC_LBLCHPUMPOUTPUT,		5,		10,		75,		8
	LTEXT			"",IDC_TXTCHPUMPOUTPUT,		85,		10,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLCHPUMPCTRL,		5,		20,		75,		8
	LTEXT			"",IDC_TXTCHPUMPCTRL,		85,		20,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLCHPUMPOVRNTIME,		5,		30,		75,		8
	LTEXT			"",IDC_TXTCHPUMPOVRNTIME,		85,		30,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLCHPUMPFPOVRNTIME,			5,		40,		75,		8
	LTEXT			"",IDC_TXTCHPUMPFPOVRNTIME,			85,		40,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLDHWPUMPOUTPUT,		5,		50,		75,		8
	LTEXT			"",IDC_TXTDHWPUMPOUTPUT,		85,		50,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLDHWPUMPCTRL,		5,		60,		75,		8
	LTEXT			"",IDC_TXTDHWPUMPCTRL,		85,		60,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLDHWPUMPOVRNTIME,	5,		70,		75,		8
	LTEXT			"",IDC_TXTDHWPUMPOVRNTIME,	85,		70,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLDHWPUMPFPOVRNTIME,		5,		80,		75,		8
	LTEXT			"",IDC_TXTDHWPUMPFPOVRNTIME,		85,		80,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLDHWPUMPSTRTDLY,	5,		90,		75,		8
	LTEXT			"",IDC_TXTDHWPUMPSTRTDLY,	85,		90,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT           "",IDC_LBLBLRPUMPOUTPUT,				5,		100,	75,		8
	LTEXT			","IDC_TXTBLRPUMPOUTPUT,				85,		100,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLBLRPUMPCTRL,				5,		110,	75,		8
	LTEXT			"",IDC_TXTBLRPUMPCTRL,				85,		110,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLBLRPUMPOVRNTIME,		5,		120,	75,		8
	LTEXT			"",IDC_TXTBLRPUMPOVRNTIME,		85,		120,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLAUX1PUMPOUTPUT,		5,		130,	75,		8
	LTEXT			"",IDC_TXTAUX1PUMPOUTPUT,		85,		130,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLAUX1PUMPCTRL,		5,		140,	75,		8
	LTEXT			"",IDC_TXTAUX1PUMPCTRL,		85,		140,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLPUMPRESERVED,		5,		150,	75,		8
	LTEXT			"",IDC_TXTPUMPRESERVED,		85,		150,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLSYSPUMPOUTPUT,		5,		160,	75,		8
	LTEXT			"",IDC_TXTSYSPUMPOUTPUT,		85,		160,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLSYSPUMPCTRL,	5,		170,	75,		8
	LTEXT			"",IDC_TXTSYSPUMPCTRL,	85,		170,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLSYSPUMPOVRNTIME,		5,		180,	75,		8
	LTEXT			"",IDC_TXTSYSPUMPOVRNTIME,		85,		180,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLPUMPXRCSINTRVL,	5,		190,	75,		8
	LTEXT			"",IDC_TXTPUMPXRCSINTRVL,	85,		190,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLPUMPXRCSTIME,		150,	10,		75,		8
	LTEXT			"",IDC_TXTPUMPXRCSTIME,		230,	10,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLCHPUMPSTRTDLY,		150,	20,		75,		8
	LTEXT			"",IDC_TXTCHPUMPSTRTDLY,		230,	20,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLBLRPUMPSTRTDLY,			150,	30,		75,		8
	LTEXT			"",IDC_TXTBLRPUMPSTRTDLY,			230,	30,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLSYSPUMPSTRTDLY,		150,	40,		75,		8
	LTEXT			"",IDC_TXTSYSPUMPSTRTDLY,		230,	40,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLAUX1PUMPSTRTDLY,			150,	50,		75,		8
	LTEXT			"",IDC_TXTAUX1PUMPSTRTDLY,			230,	50,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLCHPUMPOPTS1,			150,	60,		75,		8
	LTEXT			"",IDC_TXTCHPUMPOPTS1,			230,	60,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLCHPUMPOPTS2,		150,	70,		75,		8
	LTEXT			"",IDC_TXTCHPUMPOPTS2,		230,	70,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLDHWPUMPOPTS1,		150,	80,		75,		8
	LTEXT			"",IDC_TXTDHWPUMPOPTS1,		230,	80,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLDHWPUMPOPTS2,		150,	90,		75,		8
	LTEXT			"",IDC_TXTDHWPUMPOPTS2,		230,	90,		60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLBLRPUMPOPTS1,		150,	100,	75,		8
	LTEXT			"",IDC_TXTBLRPUMPOPTS1,		230,	100,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLBLRPUMPOPTS2,		150,	110,	75,		8
	LTEXT			"",IDC_TXTBLRPUMPOPTS2,		230,	110,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLSYSPUMPOPTS1,		150,	120,	75,		8
	LTEXT			"",IDC_TXTSYSPUMPOPTS1,		230,	120,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
    RTEXT           "",IDC_LBLSYSPUMPOPTS2,		150,	130,	75,		8
	LTEXT			"",IDC_TXTSYSPUMPOPTS2,		230,	130,	60,		8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
END