#include <windows.h>
#include "resource.h"

IDD_SAVERESTOREDLG DIALOGEX   22, 17, 300, 200
STYLE WS_CHILD | WS_VISIBLE | WS_BORDER | DS_SHELLFONT | WS_THICKFRAME | WS_HSCROLL
CAPTION "Save+Restore"
FONT 8, "Verdana"
BEGIN
	PUSHBUTTON		"Save to file",IDC_BTNSAVECONFIG,5,12,50,12
	PUSHBUTTON		"Load from file",IDC_BTNLOADCONFIG,75,12,50,12
	LTEXT			"",IDC_TXTLOADPARMSSTATUS,140,12,100,12
    RTEXT           "",IDC_LBLTEMPUNITS,			5, 28, 70, 8
	LTEXT			"",IDC_TXTTEMPUNITS,			80,	26, 70, 12, SS_LEFT  | SS_SUNKEN
    RTEXT           "",IDC_LBLASCTIME,				5, 40, 70, 8
	LTEXT			"",IDC_TXTASCTIME,				80, 38, 70, 12, SS_LEFT  | SS_SUNKEN
    RTEXT           "",IDC_LBLMODCHMAXRATE,			5, 52, 70,	8
	LTEXT			"",IDC_TXTMODCHMAXRATE,			80,	50, 70, 12, SS_LEFT  | SS_SUNKEN
    RTEXT           "",IDC_LBLMODDWHMAXRATE,		5, 64, 70, 8
	LTEXT			"",IDC_TXTMODDWHMAXRATE,		80,	62, 70, 12, SS_LEFT  | SS_SUNKEN
    RTEXT           "",IDC_LBLMODMINRATE,			5,	76, 70,	8
	LTEXT			"",IDC_TXTMODMINRATE,			80,	74, 70, 12, SS_LEFT  | SS_SUNKEN
    RTEXT           "",IDC_LBLCHDEMANDSOURCE,		5, 88, 70, 8
	LTEXT			"",IDC_TXTCHDEMANDSOURCE,		80,	86,	70,	12, SS_LEFT  | SS_SUNKEN
    RTEXT           "",IDC_LBLCHSENSOR,				5, 100, 70, 8
	LTEXT			"",IDC_TXTCHSENSOR,				80, 98, 70, 12, SS_LEFT  | SS_SUNKEN
    RTEXT           "",IDC_LBLCHSETPOINT,			5, 112, 70, 8
	LTEXT			"",IDC_TXTCHSETPOINT,			80,	110, 70, 12, SS_LEFT  | SS_SUNKEN
    RTEXT           "",IDC_LBLCHONHYSTERESIS,		5, 124, 70, 8
	LTEXT			"",IDC_TXTCHONHYSTERESIS,		80, 122, 70, 12, SS_LEFT  | SS_SUNKEN
    RTEXT           "",IDC_LBLCHOFFHYSTERESIS,		5, 136, 70, 8
	LTEXT			"",IDC_TXTCHOFFHYSTERESIS,		80, 134, 70, 12, SS_LEFT  | SS_SUNKEN
    RTEXT           "",IDC_LBLCHODRESETENABLE,		5, 148, 70, 8
	LTEXT			"",IDC_TXTCHODRESET,			80, 146, 70, 12, SS_LEFT  | SS_SUNKEN
	RTEXT			"",IDC_LBLCHPUMPOVRNTIME,		5, 160, 70, 8
	LTEXT			"",IDC_TXTCHPUMPOVRNTIME,		80, 158, 70, 12, SS_LEFT  | SS_SUNKEN
	RTEXT			"",IDC_LBLDHWPUMPOVRNTIME,		5, 172, 70,	8
	LTEXT			"",IDC_TXTDHWPUMPOVRNTIME,		80,	170, 70, 12, SS_LEFT  | SS_SUNKEN
	RTEXT			"",IDC_LBLDHWPUMPSTRTDLY,		5, 184, 70, 8
	LTEXT			"",IDC_TXTDHWPUMPSTRTDLY,		80, 182, 70, 12, SS_LEFT  | SS_SUNKEN
	RTEXT			"",IDC_LBLBLRPUMPOVRNTIME,		5, 196, 70, 8
	LTEXT			"",IDC_TXTBLRPUMPOVRNTIME,		80, 194, 70, 12, SS_LEFT  | SS_SUNKEN
	RTEXT			"",IDC_LBLCHPUMPSTRTDLY,		155, 28, 70, 8
	LTEXT			"",IDC_TXTCHPUMPSTRTDLY,		230, 26, 70, 12, SS_LEFT  | SS_SUNKEN
	RTEXT			"",IDC_LBLDHWDEMANDSWITCH,		155, 40, 70, 8
	LTEXT			"",IDC_TXTDHWDEMANDSWITCH,		230, 38, 70, 12, SS_LEFT  | SS_SUNKEN
	RTEXT			"",IDC_LBLDHWDHWPRIORITYTIME,	155, 52, 70, 8
	LTEXT			"",IDC_TXTDHWDHWPRIORITYTIME,	230, 50, 70, 12, SS_LEFT  | SS_SUNKEN
	RTEXT			"",IDC_LBLDHWSETPOINT,			155, 64, 70, 8
	LTEXT			"",IDC_TXTDHWSETPOINT,			230, 62, 70, 12, SS_LEFT  | SS_SUNKEN
	RTEXT			"",IDC_LBLDHWONHYSTERESIS,		155, 76, 70, 8
	LTEXT			"",IDC_TXTDHWONHYSTERESIS,		230, 74, 70, 12, SS_LEFT  | SS_SUNKEN
	RTEXT			"",IDC_LBLDHWOFFHYSTERESIS,		155, 88, 70, 8
	LTEXT			"",IDC_TXTDHWOFFHYSTERESIS,		230, 86, 70, 12, SS_LEFT  | SS_SUNKEN
	RTEXT			"",IDC_LBLDHWMODSENSOR,			155, 100, 70, 8
	LTEXT			"",IDC_TXTDHWMODSENSOR,			230, 98, 70, 12, SS_LEFT  | SS_SUNKEN
	RTEXT			"",IDC_LBLDELTATDLY,			155, 112, 70, 8
	LTEXT			"",IDC_TXTDELTATDLY,			230, 110, 70, 12, SS_LEFT  | SS_SUNKEN
	RTEXT			"",IDC_LBLOUTTRISEDLY,			155, 124, 70, 8
	LTEXT			"",IDC_TXTOUTTRISEDLY,			230, 122, 70, 12, SS_LEFT  | SS_SUNKEN
	RTEXT			"",IDC_LBLODRMAXODTEMP,			155, 136, 70, 8
	LTEXT			"",IDC_TXTODRMAXODTEMP,			230, 134, 70, 12, SS_LEFT  | SS_SUNKEN
	RTEXT			"",IDC_LBLODRMINODTEMP,			155, 148, 70, 8
	LTEXT			"",IDC_TXTODRMINODTEMP,			230, 146, 70, 12, SS_LEFT  | SS_SUNKEN
	RTEXT			"",IDC_LBLODRCHLWTEMP,			155, 160, 70, 8
	LTEXT			"",IDC_TXTODRCHLWTEMP,			230, 158, 70, 12, SS_LEFT  | SS_SUNKEN
	RTEXT			"",IDC_LBLCHFROSTPROTENABLE,	155, 172, 70, 8
	LTEXT			"",IDC_TXTCHFROSTPROTENABLE,	230, 170, 70, 12, SS_LEFT  | SS_SUNKEN
	RTEXT			"",IDC_LBLDHWFROSTPROTENABLE,	155, 184, 70, 8
	LTEXT			"",IDC_TXTDHWFROSTPROTENABLE,	230, 182, 70, 12, SS_LEFT  | SS_SUNKEN
	RTEXT			"",IDC_LBLLLFROSTPROTENABLE,	155, 196, 70, 8
	LTEXT			"",IDC_TXTLLFROSTPROTENABLE,	230, 194, 70, 12, SS_LEFT  | SS_SUNKEN
	RTEXT			"",IDC_LBLCHSTPTSRC,			305, 28, 70, 8
	LTEXT			"",IDC_TXTCHSTPTSRC,			380, 26, 70, 12, SS_LEFT  | SS_SUNKEN
	RTEXT			"",IDC_LBLCHMODRATESRC,			305, 40, 70, 8
	LTEXT			"",IDC_TXTCHMODRATESRC,			380, 38, 70, 12, SS_LEFT  | SS_SUNKEN
	RTEXT			"",IDC_LBLWWSDENABLE,			305, 52, 70, 8
	LTEXT			"",IDC_TXTWWSDENABLE,			380, 50, 70, 12, SS_LEFT  | SS_SUNKEN
	RTEXT			"",IDC_LBLWWSDSETPOINT,			305, 64, 70, 8
	LTEXT			"",IDC_TXTWWSDSETPOINT,			380, 62, 70, 12, SS_LEFT  | SS_SUNKEN
	RTEXT			"",IDC_LBLDHWDEMANDONTEMP,		305, 76, 70, 8
	LTEXT			"",IDC_TXTDHWDEMANDONTEMP,		380, 74, 70, 12, SS_LEFT  | SS_SUNKEN
	RTEXT			"",IDC_LBLDHWDEMANDOFFTEMP,		305, 88, 70, 8
	LTEXT			"",IDC_TXTDHWDEMANDOFFTEMP,		380, 86, 70, 12, SS_LEFT  | SS_SUNKEN
	RTEXT			"",IDC_LBLODRCHBOOSTTIME,		305, 100, 70, 8
	LTEXT			"",IDC_TXTODRCHBOOSTTIME,		380, 98, 70, 12, SS_LEFT  | SS_SUNKEN
	RTEXT			"",IDC_LBLODRCHMAXOFFPT,		305, 112, 70, 8
	LTEXT			"",IDC_TXTODRCHMAXOFFPT,		380, 110, 70, 12, SS_LEFT  | SS_SUNKEN
	RTEXT			"",IDC_LBLODRLLBOOSTTIME,		305, 124, 70, 8
	LTEXT			"",IDC_TXTODRLLBOOSTTIME,		380, 122, 70, 12, SS_LEFT  | SS_SUNKEN
	RTEXT			"",IDC_LBLODRLLMAXOFFPT,		305, 136, 70, 8
	LTEXT			"",IDC_TXTODRLLMAXOFFPT,		380, 134, 70, 12, SS_LEFT  | SS_SUNKEN
	RTEXT			"",IDC_LBLODRCHBOOSTSTEP,		305, 148, 70, 8
	LTEXT			"",IDC_TXTODRCHBOOSTSTEP,		380, 146, 70, 12, SS_LEFT  | SS_SUNKEN
	RTEXT			"",IDC_LBLODRLLBOOSTSTEP,		305, 160, 70, 8
	LTEXT			"",IDC_TXTODRLLBOOSTSTEP,		380, 158, 70, 12, SS_LEFT  | SS_SUNKEN
	RTEXT			"",IDC_LBLPRFRDOUTLETHILIM,		305, 172, 70, 8
	LTEXT			"",IDC_TXTPRFRDOUTLETHILIM,		380, 170, 70, 12, SS_LEFT  | SS_SUNKEN
	RTEXT			"",IDC_LBLPRFRDSTACKLIMSTPT,	305, 184, 70, 8
	LTEXT			"",IDC_TXTPRFRDSTACKLIMSTPT,	380, 182, 70, 12, SS_LEFT  | SS_SUNKEN
	RTEXT			"",IDC_LBLODTEMPCORROFFSET,		305, 196, 70, 8
	LTEXT			"",IDC_TXTODTEMPCORROFFSET,		380, 194, 70, 12, SS_LEFT  | SS_SUNKEN
	RTEXT			"",IDC_LBLBURNEROFFINHIBITTIME,	455, 28, 70, 8
	LTEXT			"",IDC_TXTBURNEROFFINHIBITTIME,	530, 26, 70, 12, SS_LEFT  | SS_SUNKEN
	RTEXT			"",IDC_LBLPRFRDLIGHTOFFRATE,	455, 40, 70, 8
	LTEXT			"",IDC_TXTPRFRDLIGHTOFFRATE,	530, 38, 70, 12, SS_LEFT  | SS_SUNKEN
	RTEXT			"",IDC_LBLLLDHWDEMANDSW,		455, 52, 70, 8
	LTEXT			"",IDC_TXTLLDHWDEMANDSW,		530, 50, 70, 12, SS_LEFT  | SS_SUNKEN
	RTEXT			"",IDC_LBLLLDHWSETPOINT,		455, 64, 70, 8
	LTEXT			"",IDC_TXTLLDHWSETPOINT,		530, 62, 70, 12, SS_LEFT  | SS_SUNKEN

	RTEXT			"", IDC_LBLCHENABLE,			455, 76, 70, 8
	LTEXT			"", IDC_TXTCHENABLE,			530, 74, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLCHTODSETPOINT,		455, 88, 70, 8
	LTEXT			"", IDC_TXTCHTODSETPOINT,		530, 86, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLCHPTYVSLL,			455, 100, 70, 8
	LTEXT			"", IDC_TXTCHPTYVSLL,			530, 98, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBL4MATEMP,				455, 112, 70, 8
	LTEXT			"", IDC_TXT4MATEMP,				530, 110, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBL20MATEMP,			455, 124, 70, 8
	LTEXT			"", IDC_TXT20MATEMP,			530, 122, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLDHWENABLE,			455, 136, 70, 8
	LTEXT			"", IDC_TXTDHWENABLE,			530, 134, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLDHWTODSETPOINT,		455, 148, 70, 8
	LTEXT			"", IDC_TXTDHWTODSETPOINT,		530, 146, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLDHWPGAIN,			455, 160, 70, 8
	LTEXT			"", IDC_TXTDHWPGAIN,			530, 158, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLDHWIGAIN,			455, 172, 70, 8
	LTEXT			"", IDC_TXTDHWIGAIN,			530, 170, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLMODFIRINGRATECTRL,	455, 184, 70, 8
	LTEXT			"", IDC_TXTMODFIRINGRATECTRL,	530, 182, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLMODMANUALFIRINGRATE,	455, 196, 70, 8
	LTEXT			"", IDC_TXTMODMANUALFIRINGRATE,	530, 194, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLCHSLOWSTRTENBL,		605, 28, 70, 8
	LTEXT			"", IDC_TXTCHSLOWSTRTENBL,		680, 26, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLSLOWSTARTRAMP,		605, 40, 70, 8
	LTEXT			"", IDC_TXTSLOWSTARTRAMP,		680, 36, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLSLOWSTARTSTPT,		605, 52, 70, 8
	LTEXT			"", IDC_TXTSLOWSTARTSTPT,		680, 50, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLANALOGRATETRACKING,	605, 64, 70, 8
	LTEXT			"", IDC_TXTANALOGRATETRACKING,	680, 62, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLCHPUMPCTRL,			605, 76, 70, 8
	LTEXT			"", IDC_TXTCHPUMPCTRL,			680, 74, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLDHWPUMPCTRL,			605, 88, 70, 8
	LTEXT			"", IDC_TXTDHWPUMPCTRL,			680, 86, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLBLRPUMPCTRL,			605, 100, 70, 8
	LTEXT			"", IDC_TXTBLRPUMPCTRL,			680, 98, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLCHPUMPOPTS1,			605, 112, 70, 8
	LTEXT			"", IDC_TXTCHPUMPOPTS1,			680, 110, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLCHPUMPOPTS2,			605, 124, 70, 8
	LTEXT			"", IDC_TXTCHPUMPOPTS2,			680, 122, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLDHWPUMPOPTS1,		605, 136, 70, 8
	LTEXT			"", IDC_TXTDHWPUMPOPTS1,		680, 134, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLDHWPUMPOPTS2,		605, 148, 70, 8
	LTEXT			"", IDC_TXTDHWPUMPOPTS2,		680, 146, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLMODPOSTPURGERATE,	605, 160, 70, 8
	LTEXT			"", IDC_TXTMODPOSTPURGERATE,	680, 158, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLBCPOSTPURGETIME,		605, 172, 70, 8
	LTEXT			"", IDC_TXTBCPOSTPURGETIME,		680, 170, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLFANPULSPERREV,		605, 184, 70, 8
	LTEXT			"", IDC_TXTFANPULSPERREV,		680, 182, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLLLMASTERENABLE,		605, 196, 70, 8
	LTEXT			"", IDC_TXTLLMASTERENABLE,		680, 194, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLLLSETPOINT,			755, 28, 70, 8
	LTEXT			"", IDC_TXTLLSETPOINT,			830, 26, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLLLTODSETPOINT,		755, 40, 70, 8
	LTEXT			"", IDC_TXTLLTODSETPOINT,		830, 38, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLLLONHYSTERESIS,		755, 52, 70, 8
	LTEXT			"", IDC_TXTLLONHYSTERESIS,		830, 50, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLLLOFFHYSTERESIS,		755, 64, 70, 8
	LTEXT			"", IDC_TXTLLOFFHYSTERESIS,		830, 62, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLLLPGAIN,				755, 76, 70, 8
	LTEXT			"", IDC_TXTLLPGAIN,				830, 74, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLLLIGAIN,				755, 88, 70, 8
	LTEXT			"", IDC_TXTLLIGAIN,				830, 86, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLLLCHDEMANDSWITCH,	755, 100, 70, 8
	LTEXT			"", IDC_TXTLLCHDEMANDSWITCH,	830, 98, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLLLCHSETPOINTSRC,		755, 112, 70, 8
	LTEXT			"", IDC_TXTLLCHSETPOINTSRC,		830, 110, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLLLCH4MATEMP,			755, 124, 70, 8
	LTEXT			"", IDC_TXTLLCH4MATEMP,			830, 122, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLLLCH20MATEMP,		755, 136, 70, 8
	LTEXT			"", IDC_TXTLLCH20MATEMP,		830, 134, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLLLBASELDCOMMRATE,	755, 148, 70, 8
	LTEXT			"", IDC_TXTLLBASELDCOMMRATE,	830, 146, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLLLLEADALLOCMETHOD,	755, 160, 70, 8
	LTEXT			"", IDC_TXTLLLEADALLOCMETHOD,	830, 158, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLLLLAGALLOCMETHOD,	755, 172, 70, 8
	LTEXT			"", IDC_TXTLLLAGALLOCMETHOD,	830, 170, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLLLADDSTGDTCTTIME,	755, 184, 70, 8
	LTEXT			"", IDC_TXTLLADDSTGDTCTTIME,	830, 182, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLLLADDSTGERRTHRSHLD,	755, 196, 70, 8
	LTEXT			"", IDC_TXTLLADDSTGERRTHRSHLD,	830, 194, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLLLADDSTGINTRSTGDLY,	905, 28, 70, 8
	LTEXT			"", IDC_TXTLLADDSTGINTRSTGDLY,	980, 26, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLLLEADROTNTIME,		905, 40, 70, 8
	LTEXT			"", IDC_TXTLLEADROTNTIME,		980, 38, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLLFRCLEADROTNTIME,	905, 52, 70, 8
	LTEXT			"", IDC_TXTLFRCLEADROTNTIME,	980, 50, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLLDHWTODSETPOINT,		905, 64, 70, 8
	LTEXT			"", IDC_TXTLDHWTODSETPOINT,		980, 62, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLLLSLAVEMODE,			905, 76, 70, 8
	LTEXT			"", IDC_TXTLLSLAVEMODE,			980, 74, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLODRLLMINODTEMP,		905, 88, 70, 8
	LTEXT			"", IDC_TXTODRLLMINODTEMP,		980, 86, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLODRLLLWTEMP,			905, 100, 70, 8
	LTEXT			"", IDC_TXTODRLLLWTEMP,			980, 98, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLLLODRESETNABLE,		905, 112, 70, 8
	LTEXT			"", IDC_TXTLLODRESETNABLE,		980, 110, 70, 12, SS_LEFT | SS_SUNKEN

	RTEXT			"", IDC_LBLODTEMPSOURCE,		905, 124, 70, 8
	LTEXT			"", IDC_TXTODTEMPSOURCE,		980, 122, 70, 12, SS_LEFT | SS_SUNKEN
		

END
