#include <windows.h>
#include "resource.h"

IDD_SYSTEMIDDLG DIALOGEX   22, 17, 300, 200
STYLE WS_CHILD | WS_VISIBLE | WS_BORDER | DS_SHELLFONT
CAPTION "System ID Config"
FONT 8, "Verdana"
BEGIN
    LTEXT           "",IDC_TXTOEMID,				5,		10,		100,		8
	RTEXT			"",IDC_LBLPRODUCTTYPE,			5,		20,		60,			8
	LTEXT			"",IDC_TXTPRODUCTTYPE,			70,		20,		120,		8
	RTEXT			"",IDC_LBLOSNUMBER,				5,		30,		60,			8
	LTEXT			"",IDC_TXTOSNUMBER,				70,		30,		60,			8
	RTEXT			"",IDC_LBLAPPBUILD,				5,		40,		60,			8
	LTEXT			"",IDC_TXTAPPBUILD,				70,		40,		60,			8
	RTEXT			"",IDC_LBLSAFETYBUILD,			5,		50,		60,			8
	LTEXT			"",IDC_TXTSAFETYBUILD,			70,		50,		60,			8
	RTEXT			"",IDC_LBLDATECODE,				155,	50,		60,			8
	LTEXT			"",IDC_TXTDATECODE,				220,	50,		60,			8
	RTEXT			"",IDC_LBLBURNERNAME			5,		60,		60,			8
	LTEXT			"",IDC_TXTBURNERNAME,			70,		60,		80,			8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLINSTALLATIONDATA,		5,		70,		60,			8
	LTEXT			"",IDC_TXTINSTALLATIONDATA,		70,		70,		80,			8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLTEMPUNITS,			5,		80,		60,			8
	LTEXT			"",IDC_TXTTEMPUNITS,			70,		80,		80,			8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLASCTIME,				5,		90,		60,			8
	LTEXT			"",IDC_TXTASCTIME,				70,		90,		80,			8, SS_LEFT | SS_NOTIFY | SS_SUNKEN

	RTEXT			"", IDC_LBLALARMSILENCETIME, 5, 100, 60, 8
	LTEXT			"", IDC_TXTALARMSILENCETIME, 70, 100, 80, 8, SS_LEFT | SS_NOTIFY | SS_SUNKEN


	RTEXT			"",IDC_LBLPOWERLINEFREQ,		155,	60,		60,			8
	LTEXT			"",IDC_TXTPOWERLINEFREQ,		220,	60,		80,			8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLSYSTEMRESETRESTART,	155,	70,		60,			8
	LTEXT			"",IDC_TXTSYSTEMRESETRESTART,	220,	70,		80,			8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLSOFTLOCKOUTENABLE,	155,	80,		60,			8
	LTEXT			"",IDC_TXTSOFTLOCKOUTENABLE,	220,	80,		80,			8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	RTEXT			"",IDC_LBLBURNEROFFINHIBITTIME,	155,	90,		60,			8
	LTEXT			"",IDC_TXTBURNEROFFINHIBITTIME,	220,	90,		80,			8, SS_LEFT | SS_NOTIFY | SS_SUNKEN
	LTEXT			"Statistics",IDC_STATIC,		5,		115,	35,			8
	RTEXT			"",IDC_LBLBURNERCYCLES,			5,		125,	60,			8
	LTEXT			"",IDC_TXTBURNERCYCLES,			70,		125,	60,			8
	RTEXT			"",IDC_LBLBURNERHOURS,			5,		135,	60,			8
	LTEXT			"",IDC_TXTBURNERHOURS,			70,		135,	60,			8
	RTEXT			"",IDC_LBLCHPUMPCYCLES,			5,		145,	60,			8
	LTEXT			"",IDC_TXTCHPUMPCYCLES,			70,		145,	60,			8
	RTEXT			"",IDC_LBLDHWPUMPCYCLES,		5,		155,	60,			8
	LTEXT			"",IDC_TXTDHWPUMPCYCLES,		70,		155,	60,			8
	RTEXT			"",IDC_LBLSYSPUMPCYCLES,		5,		165,	60,			8
	LTEXT			"",IDC_TXTSYSPUMPCYCLES,		70,		165,	60,			8
	RTEXT			"",IDC_LBLBLRPUMPCYCLES,		5,		175,	60,			8
	LTEXT			"",IDC_TXTBLRPUMPCYCLES,		70,		175,	60,			8
	RTEXT			"",IDC_LBLAUXPUMPCYCLES,		150,	125,	60,			8
	LTEXT			"",IDC_TXTAUXPUMPCYCLES,		215,	125,	60,			8
	RTEXT			"",IDC_LBLCTRLRCYCLES,			150,	135,	60,			8
	LTEXT			"",IDC_TXTCTRLRCYCLES,			215,	135,	60,			8
	RTEXT			"",IDC_LBLCTRLRRUNTIME,			150,	145,	60,			8
	LTEXT			"",IDC_TXTCTRLRRUNTIME,			215,	145,	60,			8
	RTEXT			"",IDC_LBLAUX2PUMPCYCLES,		150,	155,	60,			8
	LTEXT			"",IDC_TXTAUX2PUMPCYCLES,		215,	155,	60,			8
	PUSHBUTTON		"Login", IDC_BTNLOGIN,			180,	192,	40,			12
	EDITTEXT		IDC_EDITLOGIN,					110,	192,	60,			12, ES_LEFT | ES_PASSWORD
	LTEXT			"",IDC_TXTREGISTERACCESS,		30,		192,	70,			8, ES_RIGHT
END

IDD_SYSTEMIDUIBOX DIALOG   22, 17, 230, 75
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "System ID Config"
FONT 8, "Verdana"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,100,50,30,11,WS_GROUP
    DEFPUSHBUTTON   "Cancel",IDCANCEL,175,50,30,11,WS_GROUP
    EDITTEXT        IDC_SYSTEMIDUIEDIT, 100, 20, 100, 12, WS_CHILD
END
/*
IDD_SYSTEMIDUIMULTI DIALOG   22, 17, 230, 100
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "System ID"
FONT 8, "Verdana"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,20,85,30,11,WS_GROUP
    DEFPUSHBUTTON   "Cancel",IDCANCEL,150,85,30,11,WS_GROUP
    COMBOBOX        IDC_SYSTEMIDUIMULTICOMBO, 20, 10, 100, 75, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
END

IDD_SYSTEMIDUITIME DIALOG   22, 17, 230, 75
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "System ID"
FONT 8, "Verdana"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,100,50,30,11,WS_GROUP
    DEFPUSHBUTTON   "Cancel",IDCANCEL,175,50,30,11,WS_GROUP
	LTEXT			"Hours",IDC_STATIC,32,12,30,12
	EDITTEXT		IDC_ASCTIMEHOUREDIT, 32, 25, 30, 12, ES_NUMBER
	LTEXT			"Minutes",IDC_STATIC,82,12,30,12
	EDITTEXT		IDC_ASCTIMEMINEDIT, 82, 25, 30, 12, ES_NUMBER
	LTEXT			"Seconds",IDC_STATIC,142,12,30,12
	EDITTEXT		IDC_ASCTIMESECEDIT, 142, 25, 30, 12, ES_NUMBER
END
*/